.todo{
    background-color:gold;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}
h2{
    font-family: monospace;
    color:purple;
}
p{
    font-family:'Courier New', Courier, monospace;
    color:white;
}