<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Autores Listados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    </head>
    <style>
        h1{
            color: black;
            text-align: center;
            font-family:unset;
            background-color:rgb(236, 231, 230);
        }
    </style>
    <body>
        <table class="table table-striped">
            <thead>
                <h1>AUTORES</h1>
                <tr align="center">
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>ALTA</th>
                    <th>EDITAR</th>
                    <th>DAR DE BAJA</th>
                </tr>
            </thead>
            <tbody>
                <tr th:eack="autor : ${autores}" align="center">
                    <td> th:text = "${autor.id}"</td>
                    <td> th:text = "${autor.nombre}"</td>
                    <td> th:text = "${autor.apellido}"</td>
                    <td> th:text = "${autor.alta}"</td>
                    <td><button type="button" class="btn btn-primary">Editar</button></td>
                    <td><button type="button" class="btn btn-danger">Dar de baja</button></td>
                </tr>
            </tbody>
        </table>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
