<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editoriales Listadas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
    </head>
    <body>
        <nav th:replace="fragmentos :: navbar"></nav>

        <footer th:replace="fragmentos :: footer"></footer>
    <!-- JS -->
    <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>
</html>
