<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Libreria SpringBoot" name="description"/>
    <meta content="Franco Scolari" name="author"/>
    <title>Login</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
    <style>
        body{
            background-image: url(../imagenes/fondo.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            width: 100%;
        }

    </style>
</head>
<body>

<form th:action = "@{/login}" method = "Post">
    <input type = "text" placeholder = "Nombre de usuario" name = "username">
    <input type = "password" placeholder = "Contraseña" name = "password">
    <button type = "sumit">Login</button>
    <h5><a th:href="@{/usuarios/crear}">Crear usuario.</a></h5>
</form>

<footer th:replace="fragmentos :: footer"></footer>

<!-- JS -->
<script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>
</html>