<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <title>Menu</title>
</head>
<style>
    body{
        background-image: url("../static/imagenes/fondo.jpg");
     
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>